.contact-area {
  .contact-form {
    input,
    textarea {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 15px;
    }
    input[type="submit"] {
      background-color: tomato;
      border: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #333;
      }
    }
  }
  .contact-address {
      display: flex;
      align-items: center;
      margin-bottom: 19px;
    i {
      border: 1px solid tomato;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: tomato;
      margin-right: 15px;
    }
    h4 {
      text-transform: capitalize;
      font-size: 20px;
      margin-bottom: 5px;
      span {
        display: block;
        text-transform: lowercase;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
  iframe {
    width: 100%;
    border: 0;
    vertical-align: middle;
    height: 300px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
  }
}
